@import "libraries/normalize/normalize";
@import "drupal/system";

* {
  @include box-sizing(border-box);
}

.visuallyhidden {
  @extend .visually-hidden;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  #map_canvas & {
    max-width: none;
  }
}

ul, ol {
  &, nav & {
    @extend .clearfix;
    list-style: none;
    padding: 0;
  }
}
