@import "base-theme";
@import "layout/default";
@import "general/forms";
@import "drupal/messages";
@import "drupal/tabs";
@import "drupal/pagers";
@import "drupal/search";
@import "global";

@include establish-baseline;

body {
  @include adjust-font-size-to(13px);
  @include hyphens(auto);
  font-family: $sans-serif;
  word-wrap: break-word;

  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

pre, code, kbd, samp {
  font-family: $monospace;
  @include adjust-font-size-to(11px);
}

a {
  @include link-colors($link, $hover, $active);
}

table {
  width: 100%;
}

table, td, th {
  border: solid 1px $border;
  border-width: 1px 0 0 1px;
}

thead {
  background-color: whitesmoke;
}

td, th {
  border-width: 0 1px 1px 0;
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

th {
  border-color: #dddddd;
}

td {
  border-color: $border;
}

#{headings()} {
  font-weight: 400;
  line-height: 1;
  padding: 0;
}

h1 {
  @include adjust-font-size-to(36px);
}

h2 {
  @include adjust-font-size-to(30px);
}

h3 {
  @include adjust-font-size-to(24px);
}

h4 {
  @include adjust-font-size-to(20px);
}

h5 {
  @include adjust-font-size-to(16px);
}

h6 {
  @include adjust-font-size-to(14px);
}

dt {
  @extend h4;
  margin-top: 1em;
}

.submitted {
  color: $gray;
  margin: 1em 0;
}

article {
  margin: 0 0 40px 0;
}

p {
  margin: 1.25em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

#toolbar-home {
  float: left;
}
