ul.pager {
  @include clearfix;
  line-height: 2;
  list-style: none;
  margin: 1em 0;
  padding-left: 0;
}

.pager {
  li {
    border: solid 1px $border;
    border-left-width: 0;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    &.first {
      border-left-width: 1px;
    }
  }
  a, .pager-current, .pager-ellipsis {
    padding: 0 12px;
  }
  a {
    text-decoration: none;
    @extend .inline-block;
  }
}
