.tasks {
  @extend .clearfix;
  position: relative;
  min-height: 32px;
  * html & {
    height: 32px;
  }
}

nav.tabs {
  margin: 16px 0;
  position: relative;
}

ul.tabs {
  @extend .clearfix;
  margin: 0;
  padding: 0;
}

.tabs li {
  float: left;
  height: 32px;
  margin-bottom: 0;
  padding: 0;
}

ul.primary {
  border-bottom: solid 1px #dddddd;
}

.primary {
  a {
    background: whitesmoke;
    border: solid 1px #dddddd;
    border-width: 1px 1px 0 0;
    @include box-sizing(content-box);
    display: block;
    height: 31px;
    line-height: 32px;
    margin: 0;
    padding: 0 20px;
    position: relative;
    &:hover, &:focus, &.active {
      border-left-width: 1px;
      border-radius: 2px 2px 0 0;
      height: 32px;
      margin: -4px 0 0 -1px;
      padding-top: 4px;
    }
    &:hover,
    &:focus {
      background-color: #eeeeee;
    }
    &.active {
      background: white;
    }
  }
  li:first-child a {
    border-width: 1px 1px 0 1px;
    border-radius: 2px 0 0 0;
    &.active {
      margin-left: 0;
      font-weight: bold;
    }
  }
  li:last-child a {
    border-radius: 0 2px 0 0;
  }
}

* html .primary a {
  float: left;
}

ul.secondary {
  @include adjust-font-size-to(12px);
  padding: 1em 0;
}

.secondary {
  li {
    margin: 0 2px 0 0;
  }
  a {
    float: left;
    line-height: 30px;
    padding: 0 12px;
    width: auto;
    &:hover,
    &:focus,
    &.active {
      font-weight: bold;
    }
  }
}

.actions {
  background-color: #111111;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: -4px;
  right: 0;
  zoom: 1;
  .wrap {
    padding: 8px 16px;
  }
}

ul.action-links {
  display: block;
  @include reset-box-model;
  overflow: hidden;
  text-align: right;
  &:hover {
    z-index: 900;
  }
}

.action-links {
  li {
    display: none;
    line-height: 1;
    margin: 0;
    padding: 0 8px 0 0;
    &:first-child,
    &.first {
      @extend .inline-block;
    }
  }
  &:hover li,
  .active & {
    display: block;
    margin-bottom: 4px;
  }
  a {
    @include link-colors(white);
    @extend .inline-block;
    padding: 4px 0;
  }
}

.actions-multiple {
  &:hover {
    border-radius: 4px;
  }
  h2 {
    @extend .hide-text;
    background: inherit url("../img/icon/white/select.png") no-repeat 50% 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 10px;
  }
}

.actions-single {
  .action-links li {
    padding-right: 0;
    margin-bottom: 0;
  }
  h2 {
    @extend .visually-hidden;
  }
}
