// Forms
//------------------------------------------------------------------------------

fieldset {
  border: none;
  padding: 0;
  margin: 1em 0;
}

legend, label {
  font-weight: bold;
}

label {
  display: block;
  &.option {
    @extend .inline-block;
    font-weight: normal;
  }
}

.form-item {
  @extend .clearfix;
  margin: 1em 0;
  position: relative;
  td & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form-text, .form-textarea, .form-password {
  border: solid 1px $border;
  padding: 0.5em;
}

.form-text,
.form-textarea,
.form-password,
.form-select {
  max-width: 100%;
}

.form-item .description {
  color: $gray;
  margin-top: 0.5em;
}

.form-actions {
  padding: 1em 0;
}

.form-required {
  color: $error;
}

input[disabled], select[disabled], textarea[disabled], button[disabled],
input[disabled] + label {
  cursor: not-allowed;
}
