// Visually hidden, but available for screen readers.
//------------------------------------------------------------------------------
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// !important is used to prevent unintentional overrides.
//
// This is the Boilerplate version and overrides the .element-invisible version
// that ships with Drupal because it's buggy.

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Visually hidden, but available to screen readers and keyboard navigation.
//------------------------------------------------------------------------------
// Allows the element to be focusable when navigated to via the keyboard. This
// is typically used for skip links.
//
// This is the Boilerplate version and overrides the .element-focusable version
// that ships with Drupal because it's buggy.

@mixin focusable {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

// Hide
//------------------------------------------------------------------------------

@mixin hidden {
  display: none !important;
  visibility: hidden;
}

// Override +link-colors mixin.
// @see http://compass-style.org/reference/compass/typography/links/link_colors/
//------------------------------------------------------------------------------
@mixin link-colors($normal, $hoverfocus: false, $active: false) {
  &, &:visited {
    color: $normal;
  }
  @if $hoverfocus {
    &:hover, &:focus {
      color: $hoverfocus;
    }
  }
  @if $active {
    &:active, &.active, .active-trail & {
      color: $active;
    }
  }
}
