$experimental-support-for-khtml: false !default;

//$base-font-size: 16 !default;
//$line-height: 1.4;

$base-font-size:    16px;
$base-line-height:  32px;

$arial:             Arial, sans-serif;
$helvetica:         Helvetica, arial, sans-serif;
$verdana:           Verdana, sans-serif;
$georgia:           Georgia, sans-serif;
$monaco:            Monaco, monospace, serif;

$sans-serif:        $helvetica;
$serif:             $georgia;
$monospace:         $monaco;

$link:              #4fb1d6 !default;
$hover:             darken($link, 10%);
$active:            lighten($link, 10%);
$visited:           lighten($link, 5%);
$focus:             darken($link, 10%);

$gray:              #585858;
$border:            #eeeeee;
$border-tabs:       $border;
$error:             #cc0000;

$total-columns:     12;
$column-width:      4em;
$gutter-width:      1em;
$grid-padding:      $gutter-width;

$show-grid-backgrounds: false !default;
